.PcRepairContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    width: 100%;
}

.PcRepairsContent {
    width: 50%;
    padding: 7rem 3.5rem 1.5rem 3.5rem;
    margin-top: 1rem;
}

.PcRepairsImg{
  width: 50%;
}

.PcImg {
  height: 90vh;
  width: 100%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.PcRepairsTitle {
    font-size: 3.2rem; /* 36px */
    font-weight: 700;
    margin-bottom: 1rem;
  
}

.PcRepairsDes {
    font-size: 1.05rem; /* 18px */
    font-weight: 300;
    line-height: 1.75rem; /* 28px */
   
}

.PcRepairsButton {
    background-color: #2b6cb0;
    color: #fff;
    font-weight: 400;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: 1px solid #2b6cb0;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;

}

.PcRepairsButton:hover {
    background-color: #1b436e; 
    border: 1px solid #1b436e;
  }

/* PCSupportedIssuesList */

.pc-supported-header {
    text-align: center;
    padding-top: 6rem;
    padding-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: 600;
  }
  

.pc-supported-issues-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4px;
    font-size: 1.1rem;
    font-weight: 400; /* Adjust font size as needed */
    place-items: center;
    padding: 0 15rem;
    line-height: 1; 
  }
  
  @media (min-width: 768px) {
    .pc-supported-issues-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

.pc-issues-text {
    color: #333;
    font-size: 1.3rem;
    font-weight: 700;/* Adjust color code as needed */
  }
  

  /*pc service container*/

  .pc-repair-service-container {
    width: 82%;
    margin: 0 auto;
}

.pc-repair-service-heading {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    padding: 6rem 0 1rem 0;
}

.pc-repair-service-paragraph {
    font-size: 1rem;
    text-align: center;
    line-height: 2;
    font-size: 1.03rem;
}
