.customPCContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    width: 100%;
    background: #ffffff;
    color: #000; /* Black text color */
    filter: brightness(95%); /* Apply brightness filter */
}

.customPCContent {
    width: 72%;
    padding: 5rem 3.5rem 1.5rem 3.5rem;
    margin-top: 1rem;
}

.customPCImageContainer {
    width: 50%;
    height: auto;
}

@media (max-width: 768px) {
    .customPCImageContainer {
        width: 100%;
    }
}

.customPCimage {
    height: 90vh;
    width: 100%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.customPCHeading {
    font-size: 3.3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.customPCParagraph {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    width: 85%;
}

.customPCButtonsWrapper {
    display: flex;
    gap: 1rem;
}

.customPCbutton {
    background-color: #2b6cb0;
    color: #fff;
    font-weight: 400;
    line-height: 1.35rem;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: 1px solid #2b6cb0;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.customPCbutton:hover {
    background-color: #1b436e;
    border: 1px solid #1b436e;
}

/*custom pc section*/

.customPCSectionContainer {
    width: 67%;
    margin: 0 auto;
    padding: 6rem 4rem 0 4rem;
    text-align: center;
}

.customPCSectionTitle {
    font-size: 4xl;
    padding-bottom: 1rem;
    font-weight: 700;
    color: #333333; /* Assuming zinc-900 is equivalent to #333333 */
}

.customPCSectionParagraph {
    font-size: 1.03rem;
    line-height: 1.8rem;
    color: #666666; 
    padding-bottom: 2.5rem;
}


/*custom pc cards*/

.custom-pc-cards {
    display: grid; /* grid */
    grid-template-columns: repeat(3, minmax(0, 1fr)); /* grid-cols-1 */
    gap: 1.8rem; /* gap-6 */
    width: 90%;
    margin: 0 auto;
}

.custom-pc-card {
  margin: 0 auto;
  padding: 0 1rem 6rem 1rem;
  text-align: center;
  
}

.custom-pc-card-image {
    width: 100%;
}

.custom-pc-card-content {
    padding: 1rem 2.5rem 0 2.5rem;
}

.custom-pc-card-title {
    font-weight: 700;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.custom-pc-card-description {
    color: #666666; /* Assuming zinc-700 is equivalent to #666666 */
    font-size: 1.03rem;
}

.custom-pc-card-button {
    background-color: #fff;
    border: 2px solid #333; /* Assuming blue-700 is equivalent to #0056b3 */
    color: #333;
    font-weight: 600;
    text-decoration: underline;
    padding: .7rem 1.5rem;
    border-radius: 1rem;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.custom-pc-card-button:hover {
    background-color: #2b6cb0; /* Assuming blue-700 is equivalent to #0056b3 */
    border-color: #2b6cb0;
    color: white;
    text-decoration: none;
}
