.modal {
  position: absolute;
  top: 236px; /* Adjust the distance from the price description */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000; /* Ensure modal appears above other elements */
  background-color: rgba(0, 0, 0, 1); /* semi-transparent background */
  padding: 20px;
  border-radius: 20px;
  display: hidden; /* Initially hidden */
  height: 25rem;
}

.price-section:hover .modal {
  display: block; /* Show modal on hover */
}

.modal-content {
  padding: 10px ;
  width: 100%; /* Adjust width as needed */
  height: 300px;
  color: #fff;
  background-color: rgba(0, 0, 0, 1); 
  text-align: center;
}

.price-section__description {
  cursor: pointer; /* Change cursor to pointer on hover */
  color: #000000;
  transition: color 0.3s ease, text-decoration 0.3s ease; /* Add smooth transition */
}
