.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
}

.hero-mid {
    width: 100%;
    height: 70vh;
    position: relative;
}

.hero-mid h1 {
    padding-top: 4rem !important;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.hero-text h1 {
    font-size: 3rem;
    font-weight: 800;
    background: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-text p {
    font-size: 1.3rem;
    color: #fff;
    padding: 0.5rem 0 2rem 0;
}

.hero-text .show {
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 30px;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: #ffffff;
    background: linear-gradient(to right, #add8e6, #191970); /* Linear gradient from baby blue to dark blue */
    background: -moz-linear-gradient(
        -45deg,
        rgba(173, 216, 230, 1) 0%, /* Baby blue */
        rgba(25, 25, 112, 1) 100% /* Dark blue */
    );
    background: -webkit-gradient(
        left top,
        right bottom,
        color-stop(0%, rgba(173, 216, 230, 1)),
        color-stop(100%, rgba(25, 25, 112, 1))
    );
    background: -webkit-linear-gradient(
        -45deg,
        rgba(173, 216, 230, 1) 0%, /* Baby blue */
        rgba(25, 25, 112, 1) 100% /* Dark blue */
    );
    background: -o-linear-gradient(
        -45deg,
        rgba(173, 216, 230, 1) 0%, /* Baby blue */
        rgba(25, 25, 112, 1) 100% /* Dark blue */
    );
    background: -ms-linear-gradient(
        -45deg,
        rgba(173, 216, 230, 1) 0%, /* Baby blue */
        rgba(25, 25, 112, 1) 100% /* Dark blue */
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#add8e6', endColorstr='#191970', GradientType=1 ); /* Baby blue to Dark blue */
}

@media screen and (max-width: 768px) {
    .hero-text h1 {
        font-size: 2.5rem;
    }

    .hero-text p {
        font-size: 1rem;
    }

    .hero-text .show {
        font-size: 1rem;
    }
    
}

@media screen and (max-width: 555px){
    .hero-text h1 {
        padding: 10px 20px;
        font-size: 2rem;
    }

    .hero-text p {
        font-size: 1.0rem;
        padding: 0 0 2rem 0;
    }

    .hero-text .show {
        font-size: 1rem;
        padding: 0.6rem 1.1rem;
        font-size: 1rem;
    }
}