/* HeroBottom.css */

.hero-bottom-container {
    position: relative;
    background-color: #f4f4f4;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero-bottom-background {
    position: relative; /* Add position relative */
    background-size: cover;
    width: 75%;
    height: 400px;
  }

  .hero-bottom-content {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }
  
  .hero-bottom-title {
    color: #ffffff;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 9rem;
  }
  
  .hero-bottom-button {
    background-color: #3490dc;
    color: #ffffff;
    font-weight: 400;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: 1px solid #ffffff;
    height: 5rem;
    width: 20rem;
  }
  
  .hero-bottom-button:hover {
    background-color: #2779bd;
  }
  