.ex-body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto; /* Change this */
    font-size: 50%;
    position: relative;
    padding-top: 8rem; /* Add this */
  }
  
  .expanding-cards {
    display: flex;
    width: 80vw;
    position: absolute;
    top: -238%; /* Change this */
    left: 50%;
    transform: translate(-50%, -50%);
  }