.nav-btn {
  padding: 10px 20px;
  border-radius: 2rem;
  transition: 0.3s all ease-out;
  border: 2px solid #fff;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  font-weight: 600;
  flex-shrink: 0;
  margin-top: 6.5%;
  margin-left: 7px;

  &:hover {
    color: rgb(0, 0, 0);
    background:#ffffff;
  }
}

