.submenu {
  width: "";
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
  z-index: 1;
  background-color: rgba(214, 214, 214, 0.8);
  box-shadow: 0 10px 20px -6px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

.submenu::before {
  content: "";
  position: absolute;
  top: -10px;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent rgba(233, 233, 233, 0.8) transparent;
  border-style: solid;
}

.submenu li {
  cursor: pointer;
}

.submenu li a:hover {
  color: rgb(109, 109, 109);
}

.submenu.clicked {
  display: none;
}

.submenu-item {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 16px 30px 16px 0;
}