
.navbarItems {
    padding: 0.5rem 1rem; /* Apply padding */
    white-space: nowrap;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-top: 13px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.10);
    box-shadow: 0 10px 20px -6px rgba(0, 0, 0, 0.80);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    width: 95%;
    height: 80px;
    border-radius: 40px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    z-index: 9999;
    color: #fff; /* White text color */
    filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr='#994C4C4C', /* Dark grey */
        endColorstr='#994C1919', /* Darker grey */
        GradientType=1 /* Horizontal gradient */
    );
}

.navbar-logo {
    color: #ffffff;
    font-size: 2rem;
    cursor: pointer;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
}

.nav-menu li {
    padding: 20px;
    margin-top: 13px;/* Adjust padding as needed */
}

.nav-links {
    // Your existing styles
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    position: relative; // Make it relative to its parent
  }
  


.nav-links-mobile {
    display: none;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
  }
  
  .dropdown-menu li {
    list-style-type: none;
  }
  
  .dropdown-menu li a {
    display: block;
    padding: 5px 10px;
    color: #333;
    text-decoration: none;
  }
  
  .dropdown-menu li a:hover {
    background-color: #f0f0f0;
  }
  

button {
    padding: 0.5rem 1rem;
    white-space: nowrap;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-top: 13px;
    background: rgba(173, 216, 230, 1); /* Baby blue background */
    background: -moz-linear-gradient(
        -45deg,
        rgba(173, 216, 230, 1) 0%, /* Baby blue */
        rgba(25, 25, 112, 1) 100% /* Dark blue */
    );
    background: -webkit-gradient(
        left top,
        right bottom,
        color-stop(0%, rgba(173, 216, 230, 1)),
        color-stop(100%, rgba(25, 25, 112, 1))
    );
    background: -webkit-linear-gradient(
        -45deg,
        rgba(173, 216, 230, 1) 0%, /* Baby blue */
        rgba(25, 25, 112, 1) 100% /* Dark blue */
    );
    background: -o-linear-gradient(
        -45deg,
        rgba(173, 216, 230, 1) 0%, /* Baby blue */
        rgba(25, 25, 112, 1) 100% /* Dark blue */
    );
    background: -ms-linear-gradient(
        -45deg,
        rgba(173, 216, 230, 1) 0%, /* Baby blue */
        rgba(25, 25, 112, 1) 100% /* Dark blue */
    );
    background: linear-gradient(
        135deg,
        rgba(173, 216, 230, 1) 0%, /* Baby blue */
        rgba(25, 25, 112, 1) 100% /* Dark blue */
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#add8e6', endColorstr='#191970', GradientType=1 ); /* Baby blue to Dark blue */
    color: #fff; /* White text color */
}

button:hover {
    background: linear-gradient(to right, #5f5f5f, #000); /* Black background on hover */
    color: #fff; /* White text color on hover */
}

.menu-icons {
    display: none;
}

@media screen and (max-width: 850px) {
    .navbarItems {
        z-index: 99;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #fff;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -100%;
        opacity: 0;
        align-items: stretch;
        padding: 80px 0 30px 0;
        margin: 0;
        transition: 0.4s ease-in-out;
        border-radius: 13px;
    }

    .nav-menu.active {
        left: 0;
        opacity: 1;
        z-index: -1;
        transition: 0.4s ease-in-out;
    }

    .navbar-logo {
        padding: 0;
    }

    .nav-links {
        width: 100%;
        display: block;
        font-size: 1.2rem;
        padding: 2rem 0;
        color: #000000;
    }

    .nav-links:hover {
        background: #259bd6;
        transition: none;
    }

    button {
        display: none;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: auto;
        border-radius: 5px;
        width: 80%;
        background: #259bd6;
        text-decoration: none;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 2px;
    }

    .menu-icons {
        display: block;
        cursor: pointer;
    }

    .menu-icons i {
        font-size: 1.2rem;
        color: #222;
    }

}